/nbproject
/vendor
/public/watcherCache
/public/watcherTemp
/public/watcher.json
/public/watcherConfig.json
/public/logFiles
/public/settings.json
/public/watcherDate.json
/public/watcherSettings.json
/create-symlink.bat
/sass-utils.exe
/watch-dir.bat
